.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
label {
  font-weight: 600;
  margin: 10px;
}
select {
  width: 20%;
  padding: 5px;
}

.MuiFormControl-root {
  width: 30%;
}
.bill {
  display: flex;
  flex-direction: row;
}
button {
  margin-left: 5px;
  background: black;
  color: #daf110;
  font-weight: 800;
}
