.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 78px;
  border-radius: 11%;
}
.name {
  font-size: 49px;
  color: #080839;
  font-weight: 700;
}

.description {
  color: #e82222;
  font-size: 18px;
  font-weight: 700;
}
